select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 1em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
.container {
    -webkit-user-select: none;
    position: relative;
    cursor: pointer;
    width: 19em;
    height: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 3;
    background: #5c6664;
    border-radius: .25em;
    border: none;
    color: white;
    &:hover {
      .participants-list {
        display: flex;
        z-index: 5;
      }
    }
    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      background: #2b2e2e;
      color: #5c6664;
      cursor:pointer;
      overflow-x: hidden;
      pointer-events:none;
      transition:.25s all ease;
    }
    &:hover::after {
      color: #23b499;
    }
  }
  
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      background: #2b2e2e;
      color: #5c6664;
      cursor:pointer;
      pointer-events:none;
      transition:.25s all ease;
    }
    &:hover::after {
      color: #23b499;
    }
}

button {
    width: 20em;
    height: 3em;
    background: #5c6664;
    margin-bottom: 0.5em;
    padding: 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.25em;
    font-family: 'Open Sans', sans-serif;
    border: none;
    transition:.25s all ease;
    &:hover{
      color: #23b499;
    }
}
input.nameEvent { 
    cursor: pointer;
    position: relative;
    display: flex;
    width: 294px;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    border: none;
    color: white;
    &::placeholder {
      color: rgb(221, 221, 221);
    }
}

input.participants-select {
    visibility: hidden;
}
   
.participants-list {
    background: #5c6664;
    display: flex;
    color: white;
    flex-direction: column;
    position: relative;
    width: 20em;
    margin-left: -0.5em;
    display:none;
    border-radius: .25em;
    padding-bottom: 0.2em;
    label {
      line-height: 2em;
      padding-left: 1em;
      &:hover{
        background-color: rgba(21, 255, 0, 0.678);
      }
    }
}